body {
  background-image: url("img/whitney.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #757373;
}
div.white-text {
  color: white;
}
div.jumbotron {
  margin-top: 50px;
  position: relative;
  top: 50px;
  text-align: center;
  background-color: rgba(29, 29, 29, 0.8);
  box-shadow: 0 0 2px #1D1D1D;
}
.navbar-fixed-top {
  background-color: #1D1D1D;
}
.btn-lg {
  font-size: 1.3em;
  padding: 15px 50px;
}
i.fa-code, i.fa-envelope-o, i.fa-facebook, i.fa-github, i.fa-codepen, i.fa-fire {
  font-size: 1.7em;
  padding: 0 5px;
}
.navbar-nav li {
  border-bottom: 2px solid #1D1D1D;
  transition: 0.3s linear;
}
li:hover {
  border-bottom: 2px solid #757373;
}
.btn {
  transition: 0.2s linear;
}
.btn:hover {
  color: white;
}
.btn-primary:hover {
  font-size: 0.7em;
}
div.projectView {
  width: 100%;
  background: #9d9d9d;
  border: 1px solid #9d9d9d;
  border-radius: 5px;
}
div.row div.col-md-4 div.thumbnail img.placeholderImage {
  width: 100%;
  height: 157px;
  padding: 0;
  margin: 0;
}
div.projectView a img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
div.projectView div.disabled {
  opacity: 0.8;
  height: 425px;
}
div.container img.img-circle {
  float: left;
  height: 180px;
  width: 180px;
  box-shadow: 0 0 1px #9d9d9d;
}
div.row div.panel-default ul.list-group li.list-group-item {
  color: black;
}
.fa-html5, .fa-css3, .icon-javascript-alt {
  font-size: 48px;
  padding: 5px 20px;
}
