html{background-color:#F8ECC2; /*text-align: center;*/ margin:10px;}
.titleHeader{text-align: center}
ul{text-align: left;padding-left: 50px;}
li{text-align: left !important;}
h2{margin-bottom: 25px;}